@font-face {
    font-family: 'BentonSans';
    src: url('../../fonts/BentonSans-Light.woff2') format('woff2'),
        url('../../fonts/BentonSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../../fonts/BentonSans-Book.woff2') format('woff2'),
        url('../../fonts/BentonSans-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../../fonts/BentonSans-Regular.woff2') format('woff2'),
        url('../../fonts/BentonSans-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../../fonts/BentonSans-Medium.woff2') format('woff2'),
        url('../../fonts/BentonSans-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BentonSans';
    src: url('../../fonts/BentonSans-Bold.woff2') format('woff2'),
        url('../../fonts/BentonSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
