$primary-color: #4F2683;
$secondary-color: #8F55E0;
$accent-color: #201436;
$background-color: #FFF;
$alt-background-color: #EEE;
$body-text-color: #000;
$heading-font-family: 'BentonSans', Arial, sans-serif;
$body-font-family: 'BentonSans', Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;