$primary-color: white;
$secondary-color: black;
$accent-color: white;
$body-text-color: black;
$heading-font-family: Arial, sans-serif;
$body-font-family: Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;