@use '../abstracts' as a;

.contact-form-con {
    margin: 0 auto;
    width: 100%;

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-top: 2rem;

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                color: a.$accent-color;
                font-size: 0.9rem;
                font-weight: 400;
            }

            input,
            textarea {
                padding: 0.5rem;
                border: 2px solid #dedede;
                border-radius: 6px;
                font-family: a.$body-font-family;
                font-size: 0.9rem;
                transition: border-color 0.3s ease;
                width: 70%;

                &:focus {
                    outline: none;
                    border-color: #86b7fe;
                    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                }
            }

            textarea {
                resize: vertical;
                min-height: 120px;
                width: 100%;
                box-sizing: border-box;
            }
        }

        .button {
            font-size: 0.9rem;
            padding: 0.75rem 2.75rem;
            font-family: a.$body-font-family;
        }
    }
}

@media screen and (min-width: 768px) {
    .contact-form-con {
        .contact-form {
            .form-group {
                input {
                    width: 50%;
                }
            }

            .button {
                width: fit-content;
            }
        }
    }
}
