@use '../abstracts' as a;

.story-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;

    .story-card {
        width: 100%;
        display: flex;
        width: 20rem;
        flex-direction: column;

        .story-image {
            border-bottom: a.$secondary-color 3px solid;
        }

        .story-person {
            margin-top: 1rem;
            h3 {
                color: #2f174f;
                margin: 0;
                font-size: 1.25rem;
            }

            p {
                color: a.$accent-color;
                margin: 0;
            }
        }

        .button {
            margin-top: 1rem;
            width: fit-content;
        }
    }
}
