@use '../abstracts' as a;

#featured-stories {
    overflow: hidden;
}

.story-cards {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.4s ease;
    margin-top: 2rem;

    .story-card {
        flex: 0 0 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        box-sizing: border-box;

        > * {
            max-width: 25rem;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .story-image {
            border-bottom: a.$secondary-color 3px solid;
            max-height: 22rem;
            min-height: 22rem;
            object-fit: cover;
            object-position: top;
        }

        .story-person {
            margin-top: 1rem;

            h3 {
                color: #2f174f;
                margin: 0;
                font-size: 1.25rem;
            }

            p {
                color: a.$accent-color;
                margin: 0;
            }
        }

        .story-text {
            margin-bottom: 2rem;
            line-height: 1.6;
            font-size: 0.9rem;
        }

        .button {
            text-align: center;
            box-sizing: border-box;
            margin-top: auto;
            padding: 0.5rem 1rem;
            display: block;
        }
    }
}

@media screen and (min-width: 768px) {
    .story-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        transform: none !important;

        .story-card {
            flex: none;
            min-width: auto;
            padding: 0;

            > * {
                max-width: none;
                margin-left: 0;
                margin-right: 0;
            }

            .story-image {
                max-height: 30rem;
                min-height: 30rem;
            }

            &:last-child {
                grid-column: 1 / -1;
                max-width: 50%;
                justify-self: center;
            }

            .button {
                width: fit-content;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .story-cards {
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .story-card {
            width: calc(33.333% - 2rem);

            .story-image {
                max-height: 22rem;
                min-height: 22rem;
            }

            &:last-child {
                grid-column: auto;
                max-width: none;
                justify-self: auto;
            }
        }
    }
}
