.hidden {
    display: none;
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    line-height: 1.5;
    z-index: 0;
    font-variant-numeric: lining-nums;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    html,
    body {
        font-size: 18px;
    }
}
