@use '../abstracts' as a;

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    z-index: 0;
}


ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

section {
    padding: 2rem 0;
    overflow-x: hidden;
}

:focus-visible {
  outline: 3px solid #86b7fe;
  outline-offset: 3px;
}

.section-heading {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
}

.button {
    color: a.$alt-text-color;
    background-color: a.$primary-color;
    padding: 1rem 1.25rem;
    border-radius: 4px;
    border: 3px solid a.$primary-color;
    transition: all 150ms ease;
    cursor: pointer;

    &:hover {
        background-color: a.$accent-color;
    }
}

.background-wrapper {
    background-color: a.$alt-background-color;
}

@media screen and (min-width: 768px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    html,
    body {
        font-size: 18px;
    }

    section {
        padding: 3rem 0;
    }
}
