@use '../abstracts' as a;

.hidden {
    display: none;
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    line-height: 1.5;
    z-index: 0;
    font-variant-numeric: lining-nums;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

section {
    padding: 3rem 0;
}

.section-heading {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
}

.button {
    color: a.$alt-text-color;
    background-color: a.$primary-color;
    padding: 1rem 1.25rem;
    border-radius: 4px;
    border: 3px solid a.$primary-color;
    transition: all 150ms ease;

    &:hover {
        background-color: a.$accent-color;
    }
}

.background-wrapper {
    background-color: a.$alt-background-color;
}

@media screen and (min-width: 768px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    html,
    body {
        font-size: 18px;
    }
}
