@use '../abstracts' as a;

.story-stats-con {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;

    .story-stat {
        text-align: center;

        strong {
            font-size: 3rem;
            color: a.$primary-color;
            margin: 0;
            line-height: 1;
        }

        p {
            margin: 0;
            margin-top: 0.5rem;
        }
    }

    hr {
        height: 75%;
        color: rgba(#818284, 0.5);
    }
}

.why-share-con {
    .why-share-items {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 4rem;
        width: 100%;
        align-items: center;

        .why-share-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                height: 4rem;
            }

            p {
                width: 60%;
                margin: 0 auto;
                text-align: center;
                margin-top: 1.5rem;
                color: a.$primary-color;
            }
        }

        hr {
            height: 3rem;
            color: rgba(#818284, 0.5);
        }
    }
}
